@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root {
   --background-color: black;
   --text-color: white;

   /* ==== fonts and typography ==== */
   --header-height: 3.5rem;
   --font-family: "Poppins", sans-serif;
   --title-font-size: 30px;
   --sub-title-font-size: 24px;
   --text-font-size: 16px;

   /* ==== Margins ==== */
   --mb-1: 0.5rem;
   --mb-2: 1rem;
   --mb-3: 1.5rem;
   --mb-4: 2rem;
   --mb-5: 2.5rem;
   --mb-6: 3rem;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: "Poppins", sans-serif;
   background-color: var(--background-color);
   color: var(--text-color);
}

.bd-container {
   max-width: 968px;
   padding: 0 1.5rem;
   margin: auto;
}
.section {
   padding: 4rem 0 2rem;
}

.grid {
   display: grid;
   gap: var(--mb-3);
}

.flex {
   display: flex;
   gap: var(--mb-3);
}

.title {
   font-size: var(--title-font-size);
   text-transform: capitalize;
}
.sub-title {
   font-size: var(--sub-title-font-size);
   font-weight: 500;
   text-transform: capitalize;
}
.text {
   font-size: var(--text-font-size);
}

/* ====header==== */
header {
   height: var(--header-height);
   background-color: var(--background-color);
   width: 100%;
   position: fixed;
}

.nav .menu {
   height: var(--header-height);
   justify-content: center;
   align-items: center;
}
.nav .menu li {
   list-style: none;
   position: relative;
}
.nav .menu li a {
   text-decoration: none;
   color: var(--text-color);
   text-transform: capitalize;
   font-size: var(--text-font-size);
}
.nav .menu li::after {
   content: "";
   position: absolute;
   background: white;
   height: 1px;
   width: 0;
   bottom: -3px;
   left: 0;
   transition: all 0.35s ease-in-out;
}

.nav .menu li:hover::after {
   width: 100%;
}

/* ====main ==== */
.main {
   height: calc(100vh - 3.5rem);
}
.main_container {
   height: 100%;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
}
.main_container .anim_container {
   max-width: 400px;
   width: 100%;
}
.main_container .contact {
   width: 100%;
}
.main_container .contact a {
   color: var(--text-color);
}

/*  ====projects ===== */

.projects-container .title {
   text-transform: capitalize;
   margin-bottom: var(--mb-1);
}
.projects-content {
   gap: var(--mb-2);
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.projects-container .projects-content .projects-content-left {
   max-width: 100%;
}
.projects-container .projects-content .projects-content-left img {
   width: 100%;
   border-radius: 10px;
}
.projects-content-left,
.projects-content-right {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.tech-used {
   display: flex;
   gap: var(--mb-1);
   list-style: none;
   flex-wrap: wrap;
   margin-top: var(--mb-2);
}
.tech-used li {
   border: 1px solid white;
   padding: 2px 10px;
   border-radius: 10px;
   font-size: 14px;
}

/* ==== tools ==== */
.tools-wrapper {
   grid-template-columns: repeat(3, auto);
   justify-content: space-between;
   margin-top: var(--mb-2);
}
.logs-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 5px;
}
.logs-container img {
   width: 4rem;
   height: 4rem;
}

/* ====ipad media queries==== */

@media (min-width: 700px) {
   /* ==== main ==== */
   .main_container {
      flex-direction: row-reverse;
   }
   .main_container .anim_container,
   .main_container .contact {
      width: 50%;
   }
   .main_container .contact h1 {
      font-size: 60px;
      max-width: 400px;
      line-height: 1;
      padding-bottom: 1rem;
   }
   /* ==== projects ==== */
   .projects-content-left,
   .projects-content-right {
      width: 50%;
   }
   .projects-content {
      flex-direction: row;
      display: flex;
      flex-direction: row;
      gap: var(--mb-6);
   }
   .projects-content:nth-child(odd) {
      flex-direction: row-reverse;
   }

   /* ==== tools ==== */
   .tools-wrapper {
      grid-template-columns: repeat(5, auto);
   }
}
